<div class="container">
  <nav class="navbar z-2 bg-dark navbar-expand-lg w-100">
    <div class="container d-flex justify-content-between">
      <a class="navbar-brand text-light" routerLink="/">StockApp</a>
      <div class="links w-25 d-flex justify-content-evenly">
        <a class="watchlist text-light text-decoration-none">Watchlist</a
        ><a
          routerLink="/portfolio"
          class="portfolio text-light text-decoration-none"
          >Portfolio
        </a>
      </div>
    </div>
  </nav>
  <div class="container myPortfolio">
    <div
      class="header p-3 align-items-center mb-5 d-flex justify-content-between"
    >
      <h4>My Watchlist</h4>
      <h4>Balance:{{ balance$ | async | number }}$</h4>
    </div>
    @if (wishlist$ | async; as yourStocks) {
    <div class="stocks d-flex flex-wrap justify-content-between w-100">
      <ng-container *ngFor="let stock of wishlist$ | async; let i = index">
        <app-stock
          style="width: 600px; height: 400px"
          [index]="i"
          [stock]="stock"
        ></app-stock>
      </ng-container>
    </div>
    }
  </div>
</div>
