<div class="container">
  <div class="header my-5 d-flex justify-content-between">
    <h2>My Portfolio</h2>
    <h5>Balance:{{ balance$ | async }}$</h5>
    <h2>Portolio Value:{{ portfolioValue$ | async }}</h2>
  </div>
  @if (yourStocks$ | async; as yourStocks) {
  <div class="container d-flex p-0 flex-wrap justify-content-between">
    <ng-container *ngFor="let stock of yourStocks$ | async">
      <app-stock [stock]="stock" [yourStocks]="yourStocks"></app-stock>
    </ng-container>
  </div>
  }
</div>
