a {
  text-decoration: none;
}
.section {
  position: relative;
  display: flex;
  align-items: center;
}
.section::before {
  content: "";
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.3;
  background: url("../assets/img/business-candle-stick-graph-chart-of-stock-market-investment-trading-on-white-background-design-bullish-point-trend-of-graph-illustration-vector.jpg");
  background-size: contain;
  position: absolute;
}
ul > li {
  z-index: 2;
  width: 25%;
  button {
    width: 100%;
  }
}
.chart {
  position: relative;
  width: 80vw;
  height: 300px;
  z-index: 2;
  background-color: white;
  margin-bottom: 150px;
}
.newsS {
  display: flex;
  flex-wrap: wrap;
}
.news {
  width: 22%;
  /* min-height: 450px; */
  margin: 20px;
  display: flex;
  flex-direction: column;

  align-items: center;
  overflow: hidden;
  .content {
    display: flex;
    text-align: justify;
  }
  img {
    height: 200px;
    width: 100%;
  }
}
.image {
  background: url("../assets/img/20cf098a-7fa8-40dc-944b-294d14f2d84f.avif");
  background-size: contain;
  overflow: hidden;
  height: 500px;
  width: 100vw;
}
.about {
  margin-top: 50px;
  display: flex;
  text-align: justify;
  min-height: 30vh;
}
h1 {
  text-align: center;
}
.buySell {
  width: 30%;
  min-height: 300px;
  padding: 30px;
  border-radius: 50px;
  border: 1px solid;
}
.prices {
  min-width: 30%;
  min-height: 300px;
  padding: 30px;
  border-radius: 50px;
  border: 1px solid;
}
